*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body{
  background-color: black;
  color: white;
  font-family: "Poppins",sans-serif;  
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  
}

ul, li{
  list-style: none;
  display: flex;
  align-items: center;
  justify-content: space-around;
  
}

li > a{
  text-decoration: none;
  padding: 10px;
  color: yellow;
}